@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(https://themes.googleusercontent.com/static/fonts/arvo/v5/WJ6D195CfbTRlIs49IbkFw.woff) format('woff');}
 
/* ++++++++++++++ */

body{
  background-color: #e0eaf9;
}

.info{
  margin-top: 15px; 
  border-width: 2px;
  border-color: grey;
  background-color: #f2f2f2;
}


.strana{
  height: auto;
}

h1
{
	margin: 3px;
	margin-top: 7px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav
{
	margin: 0px;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 40px;
  display: block;
  box-sizing: border-box;
}

.navigacija {
    list-style: none;
    margin: 20px auto 0 auto;
    text-align: center;
    padding: 0px;
    bottom: 0px;
    font-family: 'pt sans', arial, sans-serif;
    font-size: 17px;
    float: right;
}

nav ul li{
    display: inline-block;
    float: left;
    margin: 0px;
    padding: 0px;
}
 
nav ul a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 4px 30px;
    margin: 0px;
    background-color: black;
    transition: all 0.3s;
    position: relative;
}
 
nav ul a:hover{
    background-color: #737373;
    transform: translate(0, -2px);
 
}
 
.selected {
background-color: #BC93C9;
color: black;
}
 
nav ul a.selected:hover {
background-color: #BC93C9;
color: black;
}
 
 
 
nav li:first-child a {
border-top-left-radius: 15px;
}
nav li:last-child a {
border-top-right-radius: 15px;
}
 
p {
font-family: 'pt sans', arial, sans-serif;
font-size: 14px;
font-weight: normal;
}
 
h2 {
font-family: Arvo;
font-size: 20px;
font-weight: normal;
}
 
.glavni-sadrzaj
{
  background-color: white;
  padding: 4px;
  padding-left: 7px;
}

#sadrzaj {
  margin: 0% auto 0px auto;
  border-style:solid;
  border-width: thin;
  border-color: #E0E0E0;
  background: white;
  position: relative;
  padding: 0px;
  background-color: #e2e2e2;
}
 
article {
margin: 5px 50px 0 0;
}
 
#compnav {
display: table;
}
.navrow {
display: table-row;
}
 
.navrow p {
display: table-cell;
text-align: center;
}
 
div#navtable {
float: right;
margin: 10px;
border-spacing: 0px;
}
 
div#navtable img {
margin: 0px;
}
 
div#navtable a {
color: #BFBFBF;
text-decoration:none;
 
}
 
div#navtable a:visited {
color: #ACACAC;
}
 
footer p {
color: #9A9A9A;
text-align: center;
font-size: 11px;
 
padding-top: 6px;
}


form label
{
  display: inline-block;
  width: 5em;
}

.navigacija-wrap
{
	margin-top: 30px;
	padding: 0px;
}

#tabela
{
	width: 90%;
}

.navigacija-wrap{
  position: relative;
}

.navigacija-kolona{
  position: absolute;
  bottom: 0px;
  right: 30px;
}
  .naslov-stranice{
    width: 100% !important;
    margin-right: 0px;

  }
  .navigacija-kolona{
    width: 100% !important;
    position: relative;
    bottom: 0px;
    margin-right: 7px;
  }
@media screen and (max-width: 950px) {
  .naslov-stranice{
    width: 100% !important;
  }

  .navigacija-kolona{
    width: 100% !important;
    position: relative;
    bottom: 0px;
    margin-right: 7px;
    right: 0px;
  }

  .navigacija{
    margin: 20px 20px 0 auto;
  }

}

@media screen and (max-width: 800px) {
    nav ul li{
	    display: block;
	    width: 100%;
	}

	nav
	{
		margin: 0px;
		position: relative;
		overflow: auto;
		width: 100%;
		min-height: 40px;
		display: block;
		box-sizing: border-box;
	}

	nav ul{
	    width: 100%;
	}

	.navigacija{
		position: relative;
    margin: 20px auto 0 auto;

	}

  .navigacija-kolona{
    width: 100%;
  }

  .navigacija-wrap > .tri
  {
    margin-left: 0px;
    margin-right: 0px;
  }

  .glavni-sadrzaj{
    margin: 4px;
    margin-left:  4px;
  }

	.navigacija li a
	{
		width: 100%;
	}

nav li:first-child a, nav li:last-child a {
    border-radius: 0px;
	}

	.kolona
	{
    margin-left: 0px;
    margin-right: 0px;
		width: 100%;
	}

  .kolona.jedan, .kolona.dva, .kolona.tri
  {
    width: 100%;
  }

  .kolona.jedan.centrirano
  {
    width: 20%;
  }

  .kolona.dva.centrirano
  {
    width: 46%;
  }

  .kolona.tri.centrirano
  {
    width: 72%;
  }

	nav a
	{
		min-height: 45px;
	}

  #kontakt-forma input
  {
    display: block;
  }
}

.dno{
  background-color: #ededed;
}

form{
  overflow: hidden;
}

table{
  text-align: center;
  width: 90%;

  font-family: 'pt-sans', arial, sans-serif;
}

.centrirano{
  text-align: center;
}


label{
  font-family: 'pt-sans', arial, sans-serif;
}

#greska, .greska
{
  color: red;
}

#tekst
{
  width: 70%;
  height: 10em;
  padding: 2px; 
}

#admin-link
{
    float:right;
}

#logout-forma
{
  float: right;
}

#kontakt-forma input
{
  display: inline-block;
}

.izdvojena-forma
{
  background-color: #e9e9e9;
  padding: 5px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;

  margin: 0 auto;
  width: 70%;

  margin-bottom: 25px;

  text-align: left;
}

article > h2
{
  display: inline-block;
}

.brisanje
{
  display: inline;
}

.edit-vijest
{
  display: none;
}

#pisanje-vijesti
{
  width: 90%;
  padding-left: 3em;
}

#pisanje-vijesti textarea
{
  width: 75%;
  height: 10em;
}

.mala-forma
{
  display: inline-block;
}

.tabela
{
  display: table;
}

.tr
{
  display: table-row;
}

.td, .th
{
  display: table-cell;

}

.th
{
  font-weight: bold;
}

.siroki-text
{
  width: 75%;
  height: 10em;
}

.t
{
  display: inline-block;
}

.uspjeh
{
  color: green;
}