@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://themes.googleusercontent.com/static/fonts/arvo/v5/WJ6D195CfbTRlIs49IbkFw.woff) format('woff');}
 
/* ++++++++++++++ */

body{
  background-color: #e0eaf9;
}

h1
{
	margin: 3px;
	margin-top: 7px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#logo {
  float: left;
  display: block;

  width: 0px;
  height: 0px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-right: 60px solid transparent;
  border-top: 60px solid #41E2AA;
  border-left: 60px solid #41E2AA;
  border-bottom: 60px solid #41E2AA;

}

#logo:after 
{
  content: "";

  position: absolute;
  width: 50px;
  height: 20px;
  left: 50px;
  top: 50px;
  color: red; 
  background-color: #41E2AA;
}

nav
{
	margin: 0px;
  position: relative;
  overflow: auto;
  width: 100%;
  min-height: 40px;
  display: block;
  box-sizing: border-box;
}

.navigacija {
    list-style: none;
    margin: 20px auto 0 auto;
    text-align: center;
    padding: 0px;
    bottom: 0px;
    font-family: Arial;
    font-size: 17px;
    float: right;
}

nav ul li{
    display: inline;
    margin: 0px;
    padding: 0px;
}
 
nav ul a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 4px 30px;
    margin: 0px;
    background-color: black;
    transition: all 0.3s;
    position: relative;
}
 
nav ul a:hover{
    background-color: #737373;
    transform: translate(0, -2px);
 
}
 

/* .selected {
background-color: #e3acc5;
color: black;
}
 
.selected {
background-color: #76B9E8;
color: black;
} */
 
.selected {
background-color: #BC93C9;
color: black;
}
 
nav ul a.selected:hover {
background-color: #BC93C9;
color: black;
}
 
 
 
li:first-child a {
border-top-left-radius: 15px;
}
li:last-child a {
border-top-right-radius: 15px;
}
 
p {
font-family: 'pt sans';
font-size: 14px;
font-weight: normal;
}
 
 
h2 {
font-family: Arvo;
font-size: 20px;
font-weight: normal;
}
 
.glavni-sadrzaj
{
  background-color: white;
}

#sadrzaj {
/*width: 700px;*/
  margin: 0% auto 0px auto;
  border-style:solid;
  border-width: thin;
  border-color: #E0E0E0;
  background: white;
  position: relative;
  padding: 0px;
  background-color: #e2e2e2;
}
 
article {
margin: 5px 50px 0 0;
}
 
#compnav {
display: table;
}
.navrow {
display: table-row;
}
 
.navrow p {
display: table-cell;
text-align: center;
}
 
div#navtable {
float: right;
margin: 10px;
border-spacing: 0px;
}
 
div#navtable img {
margin: 0px;
}
 
div#navtable a {
color: #BFBFBF;
text-decoration:none;
 
}
 
 
div#navtable a:visited {
color: #ACACAC;
}
 
.info{
	margin-top: 15px; 
	border-width: 2px;
	border-color: grey;
	background-color: #DDD;
}

.strana{
  height: 100vh;
}

footer p {
color: #9A9A9A;
text-align: center;
font-size: 11px;
 
padding-top: 6px;
}

#kontakt-tekst
{
	width: 30em;
	height: 10em;
}


#kontakt-forma input
{
	display: inline-block;
}

#kontakt-forma
{
	background-color: #e9e9e9;
	padding: 5px;
	border-style: solid;
	border-color: lightgrey;
	border-width: 1px;

	margin: 0 auto;
	width: 60%;

  margin-bottom: 25px;

  text-align: left;
}

form label
{
  display: inline-block;
  width: 5em;
}

.navigacija-wrap
{
	margin-top: 30px;
	padding: 0px;
}

#tabela
{
	width: 90%;
}

.navigacija-wrap{
  position: relative;
}

.navigacija-kolona{
  position: absolute;
  bottom: 0px;
}


@media screen and (max-width: 800px) {
  .naslov-stranice{
    width: 100% !important;
  }

  .navigacija-kolona{
    width: 100% !important;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
    nav ul li{
	    display: block;
	    width: 100%;
	}

	nav
	{
		margin: 0px;
		position: relative;
		overflow: auto;
		width: 100%;
		min-height: 40px;
		display: block;
		box-sizing: border-box;
	}

	nav ul{
	    width: 100%;
	}

	.navigacija{
		position: relative;
	}

  .navigacija-wrap > .tri
  {
    margin-left: 4px;
    margin-right: 4px;
  }

  .glavni-sadrzaj{
    margin: 4px;
    margin-left:  4px;
  }

	.navigacija li a
	{
		width: 100%;
	}

	li:first-child a, li:last-child a{
    border-radius: 0px;
	}

	.kolona, .kolona.jedan, .kolona.dva, .kolona.tri, .kolona.cetri
	{
		width: 100%;
	}

	nav a
	{
		min-height: 45px;
	}

  #kontakt-forma input
  {
    display: block;
  }
}

.dno{
  background-color: #ededed;
}